.first
{
	width: 150px;
	height: 150px;
	border: 2px solid black;
	margin:0px 0px 10px;
}
.second
{
	width: 150px;
	height: 150px;
	border: 2px solid black;
	margin:20px 0px 20px;
}
.third
{
	width: 150px;
	height: 150px;
	border: 2px solid black;
	margin:30px 0px 30px;
}
.Vlad {background-color:blue;}
.Senya {background-color:purple;}
.Vasily {background-color:pink;}
.btn {}